
# Run codes below after adding more gitignore
# git rm -rf --cached .
# git add .
api/

node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/


# macOS
.DS_Store
